<!DOCTYPE html>
<html>
  <head>
    <title>CBrashear's Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="nav_bar">
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "nav/home_icon.png", alt: "Home Icon", height: 45 %>
            <p>Home</p>
          <% end%>
        </li>
        <li>
          <%= link_to about_path do %>
            <%= image_tag "nav/about_icon.png", alt: "About Icon", height: 45 %>
            <p>About</p>
          <% end%>
        </li>
        <li>
          <%= link_to resume_path do %>
            <%= image_tag "nav/resume_icon.png", alt: "Resume Icon", height: 45 %>
            <p>Resume</p>
          <% end%>
        </li>
        <li>
          <%= link_to projects_path do %>
            <%= image_tag "nav/projects_icon.png", alt: "Projects Icon", height: 45 %>
            <p>Projects</p>
          <% end%>
        </li>
      </ul>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
